.work {
  padding-bottom: 94px;

  @media screen and (max-width: 1199.98px) {
    display: none;
  }
}

.work__title {
  @extend %title;
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item {
  position: relative;
}

.work__undertext {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}
